In [ ]:
from google.colab import drive
from bs4 import BeautifulSoup
import pickle
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
import string
nltk.download('punkt')
nltk.download('stopwords')
from sklearn.feature_extraction.text import CountVectorizer
from nltk.stem import WordNetLemmatizer
from nltk.tokenize.treebank import TreebankWordDetokenizer
from sklearn.feature_extraction.text import CountVectorizer
from nltk.stem import PorterStemmer
import numpy as np
import pandas as pd

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [ ]:
!pip install langdetect
!pip install translate
from translate import Translator
from langdetect import detect

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting langdetect
  Downloading langdetect-1.0.9.tar.gz (981 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 981.5/981.5 KB 15.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from langdetect) (1.16.0)
Building wheels for collected packages: langdetect
  Building wheel for langdetect (setup.py) ... done
  Created wheel for langdetect: filename=langdetect-1.0.9-py3-none-any.whl size=993243 sha256=3076159ac129137c9e7cf0375562cb745b320cef3056b429d96fdb3db42e76ce
  Stored in directory: /root/.cache/pip/wheels/d1/c1/d9/7e068de779d863bc8f8fc9467d85e25cfe47fa5051fff1a1bb
Successfully built langdetect
Installing collected packages: langdetect
Successfully installed langdetect-1.0.9
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting translate
  Downloading translate-3.6.1-py2.py3-none-any.whl (12 kB)
Collecting libretranslatepy==2.1.1
  Downloading libretranslatepy-2.1.1-py3-none-any.whl (3.2 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from translate) (2.27.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.9/dist-packages (from translate) (4.9.2)
Requirement already satisfied: click in /usr/local/lib/python3.9/dist-packages (from translate) (8.1.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->translate) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->translate) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->translate) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->translate) (3.4)
Installing collected packages: libretranslatepy, translate
Successfully installed libretranslatepy-2.1.1 translate-3.6.1

In [ ]:
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
train_data = pd.read_csv("/content/drive/My Drive/IR/Project/Job_Posting_dataset.csv")
test_data = pd.read_csv("/content/drive/My Drive/IR/Project/testing_dataset.csv")
test_data

,LinkedIn Resume,Job Profiles
0,Shyvee Shi\n(She/Her)\n3rd degree connection\n...,"['Product Manager','Business Analyst','UX Desi..."
1,Elisa Bellagamba\n\nAbout\nHigh-impact product...,"['Product Manager','Business Analyst','Marketi..."
2,Joni (Rafalski) Hoadley (She/Her)\n\nAbout\nI’...,"['Product Manager','UX Designer','Business Ana..."
3,Shane Connelly\n\nAbout\nI lead the product ma...,"['Product Manager','Software Developer,'Machin..."
4,Dana Tom\n(She/Her)\n\nAbout\nI’m a product ma...,"['Product Manager','Marketing Analyst','Machin..."
...,...,...
367,Johanna P.\n\nAbout\nExperienced Bilingual Rep...,"['Sales Analyst','Marketing Analyst,'Business ..."
368,Rachel Sedlacek\n\nAbout\nAnalyst with 12 year...,"['Sales Analyst','Marketing Analyst,'Business ..."
369,Deirdre Derby\n\nAbout\n[]\n\nLocation\nMinnea...,"['Sales Analyst','Marketing Analyst,'Business ..."
370,Ryan Mitchell\n\nAbout\nSr. Sales Analyst for ...,"['Sales Analyst','Marketing Analyst,'Business ..."
371,Sara Cope\n\nAbout\nExperienced Analyst with a...,"['Sales Analyst','Marketing Analyst,'Business ..."

In [ ]:
#@title Removing all the rows that contain description in other languages than English
for index, row in train_data.iterrows():
    try:
        lang = detect(row['Job_Description'])
        if lang != 'en':
            train_data.drop(index, inplace=True)
    except:
        # if an error occurs, assume the language is not English and drop the row
        train_data.drop(index, inplace=True)
train_data.reset_index(inplace=True)
train_data

,index,Job ID,Job Title,Company,Job_Description,Job Profile
0,1,3489403427,Software Engineer,LinkedIn,"The ideal candidate will help build, maintain,...",Software Developer
1,2,3490979195,Software Engineer,PayPal,"At PayPal (NASDAQ: PYPL), we believe that ever...",Software Developer
2,3,3507663809,Junior Software Developer (Web/Front-End),Samsung Brasil,Position Summary\n\n\n\n\nDevelop a differenti...,Software Developer
3,4,3497871312,Software Engineer,Oracle,Want to come join the Oracle Health Data & Ana...,Software Developer
4,6,3497654432,Software Engineer,Illuma,We are looking for a highly motivated Software...,Software Developer
...,...,...,...,...,...,...
909,985,3496041048,Marketing Analyst,TI Fluid Systems,Description\n\nDescription:\n\nPosition Summar...,Marketing Analyst
910,986,3496037782,Marketing Analyst,TI Fluid Systems,Description\n\nDescription:\n\nPosition Summar...,Marketing Analyst
911,987,3485523798,Marketing Analyst,Hose Master LLC,POSITION SUMMARY\n\nThe Marketing Analyst is r...,Marketing Analyst
912,988,3488196177,Senior Marketing Analyst,Maxeon Solar Technologies,Maxeon Solar Technologies is a global leader i...,Marketing Analyst
913,989,3496620281,Assistant Manager - Marketing & Insights,Samsung Gulf,Job Purpose\n\n\n\n\nThe responsibility of the...,Marketing Analyst

In [ ]:
#@title Removing all the rows that contain description in other languages than English
for index, row in test_data.iterrows():
    try:
        lang = detect(row['LinkedIn Resume'])
        if lang != 'en':
            test_data.drop(index, inplace=True)
    except:
        # if an error occurs, assume the language is not English and drop the row
        test_data.drop(index, inplace=True)
test_data.reset_index(inplace=True)
test_data

,index,LinkedIn Resume,Job Profiles
0,0,Shyvee Shi\n(She/Her)\n3rd degree connection\n...,"['Product Manager','Business Analyst','UX Desi..."
1,1,Elisa Bellagamba\n\nAbout\nHigh-impact product...,"['Product Manager','Business Analyst','Marketi..."
2,2,Joni (Rafalski) Hoadley (She/Her)\n\nAbout\nI’...,"['Product Manager','UX Designer','Business Ana..."
3,3,Shane Connelly\n\nAbout\nI lead the product ma...,"['Product Manager','Software Developer,'Machin..."
4,4,Dana Tom\n(She/Her)\n\nAbout\nI’m a product ma...,"['Product Manager','Marketing Analyst','Machin..."
...,...,...,...
367,367,Johanna P.\n\nAbout\nExperienced Bilingual Rep...,"['Sales Analyst','Marketing Analyst,'Business ..."
368,368,Rachel Sedlacek\n\nAbout\nAnalyst with 12 year...,"['Sales Analyst','Marketing Analyst,'Business ..."
369,369,Deirdre Derby\n\nAbout\n[]\n\nLocation\nMinnea...,"['Sales Analyst','Marketing Analyst,'Business ..."
370,370,Ryan Mitchell\n\nAbout\nSr. Sales Analyst for ...,"['Sales Analyst','Marketing Analyst,'Business ..."
371,371,Sara Cope\n\nAbout\nExperienced Analyst with a...,"['Sales Analyst','Marketing Analyst,'Business ..."

In [ ]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

# Define stop words
stop_words = set(stopwords.words('english'))

# Initialize lemmatizer
lemmatizer = WordNetLemmatizer()
def preprocess_text(text):
    text = text.lower()
    words = word_tokenize(text)
    words = [word for word in words if word not in stop_words]
    words = [lemmatizer.lemmatize(word) for word in words]
    text = ' '.join(words)
    return text

# Apply preprocess_text() function to job description column
train_data['Job_Description'] = train_data['Job_Description'].apply(preprocess_text)
test_data['LinkedIn Resume'] = test_data['LinkedIn Resume'].apply(preprocess_text)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...

In [ ]:
train_data.head()

,index,Job ID,Job Title,Company,Job_Description,Job Profile
0,1,3489403427,Software Engineer,LinkedIn,"ideal candidate help build , maintain , troubl...",Software Developer
1,2,3490979195,Software Engineer,PayPal,"paypal ( nasdaq : pypl ) , believe every perso...",Software Developer
2,3,3507663809,Junior Software Developer (Web/Front-End),Samsung Brasil,position summary develop differentiated system...,Software Developer
3,4,3497871312,Software Engineer,Oracle,want come join oracle health data & analytics ...,Software Developer
4,6,3497654432,Software Engineer,Illuma,looking highly motivated software engineer wor...,Software Developer

In [ ]:
def getmappings(le):
  d=dict(zip(le.classes_, le.transform(le.classes_)))
  revd=dict(zip(le.classes_, le.transform(le.classes_)))
  return d, revd
def encodetest(df,le):
  d, revd=getmappings(le)
  print(d)
  lst=df.at[0, 'Job Profiles']
  for i in range(len(df['Job Profiles'])):
    st=df.at[i, 'Job Profiles']
    st = st.replace("'","")
    st = st.replace("[","")
    st = st.replace("]","")
    lst = st.split(',')
    # lst=ast.literal_eval(lst)
    for j in range(len(lst)):
      # print(lst[2])
      lst[j]=int(d[lst[j]])
    df.at[i, 'Job Profiles']=lst

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
train_data['Job Profile'] = le.fit_transform(train_data['Job Profile'])
encodetest(test_data,le)

{'Account Manager': 0, 'Business Analyst': 1, 'Machine Learning Engineer': 2, 'Marketing Analyst': 3, 'Product Manager': 4, 'Sales Analyst': 5, 'Software Developer': 6, 'UX Designer': 7}

**COUNT VECTORIZER (BASELINE)**

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

# Instantiate a CountVectorizer object
vectorizer = CountVectorizer()

# Fit the vectorizer on the training data
vectorizer.fit(train_data['Job_Description'])

# Transform the job descriptions into numerical features using TF-IDF algorithm
X_train = vectorizer.transform(train_data['Job_Description'])
X_test = vectorizer.transform(test_data['LinkedIn Resume'])
y_train = train_data['Job Profile']


# Extract the class labels from the "job_profile" column
y_test = test_data["Job Profiles"].values

In [ ]:
X_train.

<914x12083 sparse matrix of type '<class 'numpy.int64'>'
	with 198655 stored elements in Compressed Sparse Row format>

**TF-IDF VECTORIZER MODEL (INCLUDED IN MID-SEM PROJECT REVIEW)**

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
# Instantiate a TfidfVectorizer object
vectorizer = TfidfVectorizer()

# Fit the vectorizer on the training data
vectorizer.fit(train_data['Job_Description'])

# Transform the job descriptions into numerical features using TF-IDF algorithm
X_train = vectorizer.transform(train_data['Job_Description'])
X_test = vectorizer.transform(test_data['LinkedIn Resume'])
y_train = train_data['Job Profile']


# Extract the class labels from the "job_profile" column
y_test = test_data["Job Profiles"].values

**PRE-TRAINED BERT MODEL (NOT INCLUDED IN MID-SEM PROJECT REVIEW)**

In [ ]:
! pip install transformers

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: transformers in /usr/local/lib/python3.9/dist-packages (4.27.2)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.9/dist-packages (from transformers) (1.22.4)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /usr/local/lib/python3.9/dist-packages (from transformers) (0.13.2)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.9/dist-packages (from transformers) (23.0)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.9/dist-packages (from transformers) (4.65.0)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.9/dist-packages (from transformers) (6.0)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from transformers) (2.27.1)
Requirement already satisfied: huggingface-hub<1.0,>=0.11.0 in /usr/local/lib/python3.9/dist-packages (from transformers) (0.13.3)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.9/dist-packages (from transformers) (2022.10.31)
Requirement already satisfied: filelock in /usr/local/lib/python3.9/dist-packages (from transformers) (3.10.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.9/dist-packages (from huggingface-hub<1.0,>=0.11.0->transformers) (4.5.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->transformers) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->transformers) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->transformers) (1.26.15)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->transformers) (2.0.12)

In [ ]:
import torch
from transformers import DistilBertTokenizer, DistilBertModel
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

# Load the pre-trained DistilBERT model and tokenizer
tokenizer = DistilBertTokenizer.from_pretrained('distilbert-base-uncased')
model = DistilBertModel.from_pretrained('distilbert-base-uncased')
cnt = 0
# Define a function to extract features from the job descriptions
def get_features(text):
    # Truncate the input text if it's too long
    max_input_length = 512
    if len(text) > max_input_length:
        text = text[:max_input_length]
    input_ids = torch.tensor(tokenizer.encode(text, add_special_tokens=True)).unsqueeze(0)
    outputs = model(input_ids)
    last_hidden_states = outputs[0].squeeze(0)
    global cnt
    print(cnt)
    cnt = cnt+1
    return last_hidden_states.mean(dim=0).tolist()
# Extract the features from the job descriptions in the training data
X_train = [get_features(text) for text in train_data['Job_Description']]
X_train = pd.DataFrame(X_train)

# Extract the features from the job descriptions in the testing data
X_test = [get_features(text) for text in test_data['LinkedIn Resume']]
X_test = pd.DataFrame(X_test)

# Extract the labels from the dataset
y_train = train_data['Job Profile']
y_test = test_data['Job Profiles']

Some weights of the model checkpoint at distilbert-base-uncased were not used when initializing DistilBertModel: ['vocab_layer_norm.weight', 'vocab_transform.weight', 'vocab_projector.weight', 'vocab_layer_norm.bias', 'vocab_transform.bias', 'vocab_projector.bias']
- This IS expected if you are initializing DistilBertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing DistilBertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056
1057
1058
1059
1060
1061
1062
1063
1064
1065
1066
1067
1068
1069
1070
1071
1072
1073
1074
1075
1076
1077
1078
1079
1080
1081
1082
1083
1084
1085
1086
1087
1088
1089
1090
1091
1092
1093
1094
1095
1096
1097
1098
1099
1100
1101
1102
1103
1104
1105
1106
1107
1108
1109
1110
1111
1112
1113
1114
1115
1116
1117
1118
1119
1120
1121
1122
1123
1124
1125
1126
1127
1128
1129
1130
1131
1132
1133
1134
1135
1136
1137
1138
1139
1140
1141
1142
1143
1144
1145
1146
1147
1148
1149
1150
1151
1152
1153
1154
1155
1156
1157
1158
1159
1160
1161
1162
1163
1164
1165
1166
1167
1168
1169
1170
1171
1172
1173
1174
1175
1176
1177
1178
1179
1180
1181
1182
1183
1184
1185
1186
1187
1188
1189
1190
1191
1192
1193
1194
1195
1196
1197
1198
1199
1200
1201
1202
1203
1204
1205
1206
1207
1208
1209
1210
1211
1212
1213
1214
1215
1216
1217
1218
1219
1220
1221
1222
1223
1224
1225
1226
1227
1228
1229
1230
1231
1232
1233
1234
1235
1236
1237
1238
1239
1240
1241
1242
1243
1244
1245
1246
1247
1248
1249
1250
1251
1252
1253
1254
1255
1256
1257
1258
1259
1260
1261
1262
1263
1264
1265
1266
1267
1268
1269
1270
1271
1272
1273
1274
1275
1276
1277
1278
1279
1280
1281
1282
1283
1284
1285

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import LinearSVC
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.ensemble import StackingClassifier
from xgboost import XGBClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
estimators = [('rf', RandomForestClassifier(random_state=42)), ('xgb', XGBClassifier(random_state=42))]
clf = RandomForestClassifier(random_state=42)
# clf = StackingClassifier(
#     estimators=estimators, final_estimator=LogisticRegression()
# )

# clf.fit(X_train, X_test).score(X_test, y_test)
clf.fit(X_train, y_train)

y_pred = clf.predict_proba(X_test)
def intersection(lst1, lst2):
    lst3 = [value for value in lst1 if value in lst2]
    return lst3

sorted_probs = (-y_pred).argsort()
k = 3
#getting top k classes with the highest probabilities
top_k = [sorted_probs[i, :k] for i in range(len(sorted_probs))]   
print(y_pred[0])
print(sorted_probs[0])
print(top_k[0])
#Applying the formula for Precision@k
correct = [len(intersection(y_test[i][:k], top_k[i])) for i in range(len(y_test))]
precision = (np.sum(correct))/(len(y_test)*k)
print("Precision@k: " +str(precision))

[0.07 0.12 0.09 0.14 0.26 0.07 0.05 0.2 ]
[4 7 3 1 2 0 5 6]
[4 7 3]
Precision@k: 0.6451612903225806

In [ ]:
#K can be any value between 1 and 3 including both.
sorted_probs = (-y_pred).argsort()
k = 2
top_k = [sorted_probs[i, :k] for i in range(len(sorted_probs))]   
# print(y_pred[0])
# print(sorted_probs[0])
# print(top_k[0])

#Applying the formula for Recall@k
correct = [len(intersection(y_test[i], top_k[i])) for i in range(len(y_test))]
precision = np.sum(correct) / (len(y_test) * k)
print("Recall@k: " +str(precision))

Recall@k: 0.7634408602150538

In [ ]:
def instancePrecision(k,i):
  correct=0
  if(k<=3):
    correct=len(intersection(y_test[i][:k], sorted_probs[i][:k]))
  else:
    correct=len(intersection(y_test[i], sorted_probs[i][:k]))
  prec=correct/k
  return prec

#Finding Precision at all K<=3 at a particular instance.
precision3=[instancePrecision(3,i) for i in range(len(y_test))]
precision2=[instancePrecision(2,i) for i in range(len(y_test))]
precision1=[instancePrecision(1,i) for i in range(len(y_test))]
precisionAll=[[instancePrecision(1,i),instancePrecision(2,i),instancePrecision(3,i)] for i in range(len(y_test))]

#taking sum and mean.
meansum=0
for i in range(len(precision3)):
  sum=0
  for j in range(len(precisionAll[i])):
    sum+=precisionAll[i][j]
  mean=sum/len(precisionAll[i])
  meansum=meansum+mean

meanAvgprec=meansum/len(y_test)
print("Mean Average Precision: " +str(meanAvgprec))

Mean Average Precision: 0.6805555555555561